<?xml version="1.0"?>
<!--
/**
 * Acl configuration
 *
 * @category  Smile
 * @package   Smile\PriceRequestor
 * @author    Tetiana Lebed <teleb@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer">
                    <resource id="Smile_PriceRequestor::price_requests" title="Lebed Price Requests" translate="title" sortOrder="50">
                        <resource id="Smile_PriceRequestor::price_request_save" title="Lebed Save Price Request" translate="title" sortOrder="10" />
                        <resource id="Smile_PriceRequestor::price_request_answer" title="Lebed Save Answer Request" translate="title" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
